Repository kokuwaio/dockerhub-metadata: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

.woodpecker/build.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/dockerhub-metadata
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

steps:

  build:
    image: kokuwaio/buildctl:v0.25.0
    settings: &settings
      name: registry.kokuwa.io/kokuwaio/dockerhub-metadata:ci-${CI_PIPELINE_NUMBER}
      auth:
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
      platform: [linux/amd64, linux/arm64]
      annotation:
        org.opencontainers.image.title: DockerHub Metadata WoodpeckerCI Plugin
        org.opencontainers.image.description: A WoodpeckerCI plugin to write metadata to DockerHub repositories.
        org.opencontainers.image.url: $CI_REPO_URL
        org.opencontainers.image.documentation: $CI_REPO_URL/README.md
        org.opencontainers.image.source: $CI_REPO_CLONE_URL
        org.opencontainers.image.revision: $CI_COMMIT_SHA
        org.opencontainers.image.vendor: kokuwa.io
        org.opencontainers.image.licenses: EUPL-1.2
        org.opencontainers.image.ref.name: kokuwaio/dockerhub-metadata
        org.opencontainers.image.version: latest
    when:
      event: pull_request

  push:
    image: kokuwaio/buildctl:v0.25.0
    settings:
      <<: *settings
      name:
        - registry.kokuwa.io/kokuwaio/dockerhub-metadata:latest
        - docker.io/kokuwaio/dockerhub-metadata:latest
        - ghcr.io/kokuwaio/dockerhub-metadata:latest
      auth:
        "https://index.docker.io/v1/":
          username: {from_secret: docker_io_username}
          password: {from_secret: docker_io_password}
        ghcr.io:
          username: {from_secret: ghcr_io_username}
          password: {from_secret: ghcr_io_password}
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
    when:
      event: [manual, push]
      branch: main

.woodpecker/dockerhub.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/dockerhub-metadata
  event: [manual, push]
  branch: main
  path: [.woodpecker/dockerhub.yaml, README.md, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

depends_on: [build]

steps:

  metadata:
    image: kokuwaio/dockerhub-metadata
    pull: true
    settings:
      repository: kokuwaio/dockerhub-metadata
      description-short: A WoodpeckerCI plugin to write metadata to DockerHub repositories.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}

.woodpecker/test.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/dockerhub-metadata
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

depends_on: [build]
matrix:
  PLATFORM: [amd64, arm64]
labels:
  platform: linux/${PLATFORM}

steps:

  pr:
    image: registry.kokuwa.io/kokuwaio/dockerhub-metadata:ci-${CI_PIPELINE_NUMBER}
    commands: curl https://hub.docker.com/v2/namespaces/kokuwaio/repositories/dockerhub-metadata/tags --silent --fail | jq
    when:
      event: pull_request

  kokuwa.io: &version
    image: registry.kokuwa.io/kokuwaio/dockerhub-metadata
    pull: true
    commands: curl https://hub.docker.com/v2/namespaces/kokuwaio/repositories/dockerhub-metadata/tags --silent --fail | jq
    when:
      event: [manual, push]
      branch: main

  docker.io:
    image: docker.io/kokuwaio/dockerhub-metadata
    <<: *version

  ghcr.io:
    image: ghcr.io/kokuwaio/dockerhub-metadata
    <<: *version

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.27.1 to v0.28.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency stunnel/static-curl from 8.18.0 to 8.19.0
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.28.0 to v0.28.1
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.28.1 to v0.29.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 80e26d4
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 38697a8
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency stunnel/static-curl from 8.19.0 to 8.20.0
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.30.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.9 to 5.3.12
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.12 to 5.3.15
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 66b753f
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 27639cc
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.15 docker digest to 6d8f512
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.15 docker digest to a19c811
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.30.0 to v0.31.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency jqlang/jq from jq-1.8.1 to jq-1.8.2
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency stunnel/static-curl from 8.20.0 to 8.21.0
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.31.0 to v0.31.1
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.31.1 to v0.31.2
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.2 to v0.32.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.0 to v0.32.1
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.32.1 to v0.32.2
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.14.0 to v2.15.1
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.32.2 to v0.33.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency stunnel/static-curl from 8.21.0 to 8.22.0
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.15 to 5.3.20
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to d0c3166
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to 17bcd6f
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to bfa60b7
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to f17265d
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to bfe38ab
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.20 docker digest to 6196206
  Dockerfile
Due: build, push, dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.33.0 to v0.33.1
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.33.1 to v0.34.0
  .woodpecker/build.yaml
Due: build, push, test, pr, kokuwa.io, docker.io, ghcr.io
