Repository kokuwaio/dockerhub-metadata: changes, and which Woodpecker steps are due for each by the changed paths.
All: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

.woodpecker/dockerhub.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/dockerhub-metadata
  event: [manual, push]
  branch: main
  path: [.woodpecker/dockerhub.yaml, README.md, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

depends_on: [build]

steps:

  metadata:
    image: kokuwaio/dockerhub-metadata
    pull: true
    settings:
      repository: kokuwaio/dockerhub-metadata
      description-short: A WoodpeckerCI plugin to write metadata to DockerHub repositories.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}

.woodpecker/test.yaml:

when:
  instance: ci.kokuwa.io
  repo: woodpecker/dockerhub-metadata
  event: [manual, push, pull_request]
  branch: main
  path: [.woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh]

depends_on: [build]
matrix:
  PLATFORM: [amd64, arm64]
labels:
  platform: linux/${PLATFORM}

steps:

  pr:
    image: registry.kokuwa.io/kokuwaio/dockerhub-metadata:ci-${CI_PIPELINE_NUMBER}
    commands: curl https://hub.docker.com/v2/namespaces/kokuwaio/repositories/dockerhub-metadata/tags --silent --fail | jq
    when:
      event: pull_request

  kokuwa.io: &version
    image: registry.kokuwa.io/kokuwaio/dockerhub-metadata
    pull: true
    commands: curl https://hub.docker.com/v2/namespaces/kokuwaio/repositories/dockerhub-metadata/tags --silent --fail | jq
    when:
      event: [manual, push]
      branch: main

  docker.io:
    image: docker.io/kokuwaio/dockerhub-metadata
    <<: *version

  ghcr.io:
    image: ghcr.io/kokuwaio/dockerhub-metadata
    <<: *version

chore: fix renovate preset location
  renovate.json
Due: none

chore(deps): update dependency jqlang/jq from jq-1.8.0 to jq-1.8.1
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.2.37 to 5.3.0
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.0 docker digest to 6a3e1c2
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore: add woodpecker version tags
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .justfile
  .woodpecker/build.yaml
  .woodpecker/lint.yaml
  .yamllint.yaml
  renovate.json
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency stunnel/static-curl from 8.14.1 to 8.15.0
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.0 to 5.3.3
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/shellcheck docker tag from v0.10.0 to v0.11.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/hadolint docker tag from v2.12.0 to v2.13.1
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.23.2 to v0.24.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency stunnel/static-curl from 8.15.0 to 8.16.0
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: none

chore: add gitlab explanation to readme
  .justfile
  README.md
Due: dockerhub

chore(deps): update kokuwaio/buildctl docker tag from v0.24.0 to v0.25.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.0 to v0.25.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.3 docker digest to a997515
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.3 docker digest to ae4668c
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency stunnel/static-curl from 8.16.0 to 8.17.0
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.3 to 5.3.8
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.8 docker digest to 84e9597
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.8 docker digest to 3e32c56
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.8 docker digest to 69f5b18
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash docker tag from 5.3.8 to 5.3.9
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to df9684c
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 7437355
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 32ca165
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update dependency stunnel/static-curl from 8.17.0 to 8.18.0
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to 0260ac3
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update docker.io/library/bash:5.3.9 docker digest to e320b40
  Dockerfile
Due: dockerhub, test, pr, kokuwa.io, docker.io, ghcr.io

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/build.yaml
Due: test, pr, kokuwa.io, docker.io, ghcr.io
